# EditorConfig ajuda a manter padrões de codificação consistentes
# para múltiplos desenvolvedores trabalhando no mesmo projeto
# http://editorconfig.org

root = true

# Todas os arquivos
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Arquivos de código
[*.{js,jsx,ts,tsx,java,json}]
indent_style = space
indent_size = 2

# XML e config files
[*.{xml,yaml,yml}]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# Bash scripts
[*.{sh,bash}]
indent_style = space
indent_size = 2
